<div id="messageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">WARNING</h2>
            </div>
            <div class="modal-body">
                <label class="control-label" id="txtMessage"></label>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-md btn-default list-options" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
        </div>
    </div>
</div>