<div class="input-group" id="customSearch">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" id="txtPretraga" class="form-control" style="width:90%" placeholder="Traži ...">
</div>